@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Titan+One|Creepster|Satisfy|Eczar:700");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
html {
  height: 100%;
  width: 100%;
}
body{
  overflow: hidden;
  font-size: 0px !important;
}

#text{
  display: none;
}